<div class="container">
  <% @weeks.each do |week_num, days| %>
    <h3>Week <%= week_num %></h3>

    <% days.each do |work_day| %>
      <p><%= work_day.date.strftime('%A, %b %d') %></p>
    <% end %>
  <% end %>
</div>
